# Introduction to data analysis with Python
In this notebook we calculate the mean values of numerical features of the Iris dataset.

# Task: 
1. Create a subdirectory python of src (i.e., src/python). Create a Jupyter notebook (intro.ipynb) file in src/python.
2. Use markdown to structure the file. 
3. Create a code chunk with a function calcMeans that calculate the mean values of a given dataframe (parameter dataframe). Use apply function. You can use describe function to validate your results. 
4. Call function calcMeans in another code chunk using numeric features of iris dataset.
from sklearn import datasets
iris = datasets.load_iris(return_X_y=True, as_frame=True)

In [4]:
import pandas as pd

In [2]:
from sklearn import datasets

In [5]:
iris = datasets.load_iris(return_X_y=True, as_frame=True)

In [6]:
df = iris[0]
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
def calcMeans(dataframe: pd.DataFrame): return dataframe.apply(lambda col: col.mean())

In [8]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [9]:
mean_values = calcMeans(df)
print(mean_values)

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64